<p-card header = "Please Log In" [style] = "{width: '360px'}" styleClass = "p-card-shadow">
    <div>
      <span class = "p-float-label">
        <input id = "float-input" type = "text" pInputText> 
        <label for = "float-input">Username</label>
      </span>
      <br>
      <span class = "p-float-label">
        <input id = "float-input" type = "password" pInputText> 
        <label for = "float-input">Password</label>
      </span>
      <br>
      <a routerLink="/dashboard"><p-button label = "Submit" ></p-button></a>
    </div>
</p-card>
