<p-card header = "Please Log In" [style] = "{width: '360px'}" styleClass = "p-card-shadow">
  <form [formGroup] = "login">
  <div>
      <span class = "p-float-label">
        <input type = "text" pInputText formControlName = "username"> 
        <label >Username</label>
      </span>
      <br>
      <span class = "p-float-label">
        <input type = "password" pInputText formControlName = "password"> 
        <label>Password</label>
      </span>
      <br>
      <a routerLink="/dashboard"><p-button label = "Login" type = "submit" (onClick) = "validate($event)"></p-button></a>
    </div>
  </form>  
</p-card>
